     
     * {
         margin: 0;
         box-sizing: border-box;
     }
     
     body  {  /*BACKGROUND OF DOCUMENT*/
         background-image:url("background.jpg");
         background-position: bottom;
         background-attachment:fixed;
         background-repeat: no-repeat;
         background-size:100% 100%;
         margin: 400px;
         margin-top: 60px;
     }
     header,main {
         z-index: -1;
     }

     
     section>div {                          /*SMALL STATO CARICA E POSIZIONE*/
         font-size:x-small;
     }

     
     header>img { /*LOGO LIM*/
         width: 200px;
         height: auto;
     }

     header>h2 { /*TAKING BOOLEANERS FROM A TO B*/
         color:#66ff00;
     }
     .colorbar{ /*BAR FLUO GREEN HEADING*/
         background-color:#66ff00 ;
         height: 40px;
         margin-top: 10px;
     }
     .colorbar>input { /*CENTRAL INPUT BUTTON*/
        margin: 10px 2px;
     }

     h3,div,label { /*WORDS COLOR WHITE*/
         color:white;
     }
     h3,label {  /*WEIGHT AND FAMILY FONT OF WORDS*/
        font-weight:700;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     }

     header { /*CENTRAL HEADER*/
        text-align: center;
     }
     
     .boxblack { /*BOX BLACK WITH INSIDE HEADER AND MAIN*/
        background-color:black;opacity: 0.6;
        border-radius: 2%;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        width:932px; 
        height:700px; 
        margin:auto;
        margin-bottom: 100px;
        z-index: -6;
     }

     /*COLOR BARS*/
     .orangebar {
        background-color: orange;
        border:1px solid orange;
        border-radius: 10px;
        width:40%;
        height:20px;
     }
     .greenbar {
        background-color: green;
        border:1px solid green;
        border-radius: 10px;
        width:80%;
        height:20px;
     }
     .redbar {
        background-color: red;
        border:1px solid red;
        border-radius: 10px;
        width:20%;
        height:20px;
     }


    